@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pontano sans;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
:root{
    --white-color:#fff;
    --dark-color: #252525;
    --primary-color: #1b4c13;
    --secondary-color: #66bf54;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    --site-max-width:1300px;
}

/*diseño titulos y pagina*/
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(15, 56, 12, 0.45);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
.section-title{
    text-align: center;
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
    margin-bottom: 70px;
    position: relative;
}
.section-title::after{
    content: "";
    width: 90px;
    height: 5px;
    background: var(--secondary-color);
    border-radius: var(--border-radius-s);
    display: block;
    margin: 15px auto 0;
}
.hero-img img{
    width: 100%;
    max-width: 520px;
    height: auto;
    object-fit: contain;
    transition: 0.2s ease;
}
.hero-img img:hover{
    transform: translateY(-10px);
}
.section-content{
    margin: 0 auto;
    padding: 40px 20px;
    width: 100%;
    max-width: 1300px;
}
/*diseño barra navegacion*/
header .navegacion{
    background: transparent;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}
.navegacion .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);

}
.navegacion .nav-menu{
    list-style: none;
    display: flex;
    gap: 10px;
}
.navegacion .nav-menu .nav-link{
    text-decoration: none;
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}
.navegacion .nav-menu .nav-link:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}
.navegacion :where(#menu-close-button, #menu-open-button){
    display: none;
}
/*diseño Home*/
.hero-section{
    min-height: 100vh;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 20px 80px;
}
.hero-content{
    text-align: center;
    color: var(--white-color);
    width: 100%;
}
.hero-title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
    line-height: 90px;
}
.hero-subtitle{
    margin-top: 25px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
.hero-description{
    margin: 15px auto 40px;
    max-width: 650px;
    font-size: var(--font-size-m);
    line-height: 30px;
}
.hero-content .hero-button{
    padding: 10px 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    transition: 0.3s ease;
}
.hero-content .hero-button:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
}
/*diseño p destacados*/
.destacados-section{
    padding: 100px 20px;
    background: var(--light-pink-color);
}
.p-container{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.p-card{
    width: 320px;
    background:var(--white-color);
    border-radius: var(--border-radius-s);
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.p-card:hover{
    transform: translateY(-10px);
}
.p-card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: var(--border-radius-s);
    margin-bottom: 20px;
}
.p-card h3{
    color: var(--primary-color);
    font-size: var(--font-size-l);
    margin-bottom: 10px;
}
.p-card p{
    color: var(--secondary-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}
.p-card button{
    border: none;
    padding: 10px 24px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}
.p-card button:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/*beneficios*/
.beneficios-section{
    padding: 100px 20px;
    background: #fcfbe5;
    color: var(--primary-color);
}
.beneficios-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card-beneficios{
    width: 280px;
    background-color: var(--secondary-color);
    padding: 40px 20px;
    border-radius: var(--border-radius-s);
    text-align: center;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
    transition: 0.3s ease;
}
.card-beneficios:hover{
    transform: scale(1.05);
    background: var(--secondary-color);
    color: var(--primary-color);
}
/*diseño pag-productos*/
.productos-page{
    padding: 50px 20px 80px;
    background: var(--light-pink-color);
    min-height: 100vh;
}
/*titulo*/
.productos-page .section-title{
    text-align: center;
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
    margin-bottom: 40px;
    position: relative;
}
.productos-page .section-title::after{
    content:"";
    width: 100px;
    height: 5px;
    background: var(--secondary-color);
    display: block;
    margin: 15px auto 0;
    border-radius: 20px;
}
.filtro-titulo{
    text-align: center;
    margin: 10px 0 40px;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*filtros*/
.filtros-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}
.filtro-btn{
    padding: 12px 22px;
    border: none;
    border-radius: var(--border-radius-m);
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: 0.3s ease;
}
.filtro-btn:focus{
    background: var(--secondary-color);
    color: var(--primary-color);
    transform: translateY(-3px);
}
/*productos*/
.productos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}
/*tarjetas*/
.producto-card{
    background: var(--white-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}
.producto-card:hover{
    transform: translateY(-8px);
}
/*imagen*/
.producto-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/*texto*/
.producto-name{
    font-size: var(--font-size-l);
    color: var(--primary-color);
    margin: 20px 20px 10px;
}
.producto-price{
    font-size: var(--font-size-m);
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    margin: 0 20px 20px;
}
/*boton*/
.producto-btn{
    margin: auto 20px 20px;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius-m);
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: 0.3s ease;
}
.producto-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
/*diseño Footer*/
.footer{
    background: var(--dark-color);
    color: var(--white-color);
    padding-top: 35px;
}
.footer-links .footer-title{
    padding-bottom: 35px;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding-bottom: 40px;
}

.footer-logo{
    font-size: var(--font-size-xl);
    margin-bottom: 15px;
    color: var(--secondary-color);
}
.footer a{
    display: block;
    color: var(--white-color);
    margin-bottom: 10px;
    transition: 0.3s ease;
    text-decoration: none;
}
.footer a:hover{
    color: var(--secondary-color);
}
.footer-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-s);
}
/*diseño p-carrito*/
.carrito-section{
    background: var(--light-pink-color);
}
.carrito-page{
    padding: 140px 20px 80px;
    min-height: 100vh;
    background: var(--light-pink-color);
}
.carrito-vacio{
    text-align: center;
    font-size: var(--font-size-l);
    color: var(--primary-color);
    margin-top: 50px;
}
.carrito-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
}
.carrito-card{
    display: flex;
    align-items: center;
    gap: 20px;
    background: #D4D4D4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}
.carrito-img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}
.carrito-info h3{
    color: var(--primary-color);
    margin-bottom: 10px;
}
.carrito-info p{
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
}
.carrito-info span{
    color: var(--dark-color);
}
.carrito-total{
    margin-top: 50px;
    text-align: center;
}
.carrito-total h3{
    font-size: var(--font-size-xl);
    color: var(--primary-color);
}
.carrito-total p{
    font-size: var(--font-size-l);
    color: var(--secondary-color);
    margin: 15px 0;
    font-weight: bold;
}
.comprar-btn{
    padding: 12px 22px;
    margin-bottom: 30px;
    border: none;
    border-radius: var(--border-radius-m);
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: 0.3s ease;
}
.comprar-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}
/*boton eliminar*/
.eliminar-btn{
    margin: 15px 30px;
    padding: 10px 18px;
    border: none;
    border-radius: var(--border-radius-m);
    background: crimson;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease;
}
.eliminar-btn:hover{
    transform: scale(1.05);
}
.modal-pago{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-contenido{
    position: relative;
    width: 90%;
    max-width: 500px;
    background: var(--white-color);
    padding: 60px;
    border-radius: 20px;
    animation: aparecer 0.3s ease;
}
.modal-contenido h2{
    text-align: center;
    margin-bottom: 25px;
    color: var(--primary-color);
}
.form-pago{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-pago input{
    padding: 14px;
    border-radius: 12px;
    border: 1px solid var(--medium-gray-color);
    outline: none;
    font-size: var(--font-size-m);
}
.form-pago input:focus{
    border-color: var(--secondary-color);
}
.input-group{
    display: flex;
    gap: 10px;
}
.input-group input{
    width: 100%;
}
.pagar-btn{
    padding: 14px;
    border: none;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-m);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.pagar-btn:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.cerrar-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: var(--border-radius-s);
    background: crimson;
    color: var(--white-color);
    cursor: pointer;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/*diseño p-Nosotros*/
.nosotros-section{
    padding: 50px 20px 100px;
    background: var(--light-pink-color);
    min-height: 100vh;
}
.nosotros-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 180px;
    margin-top: 50px;
}
.nosotros-img-container{
    flex: 1;
}
.nosotros-img{
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.nosotros-info{
    flex: 1;
}
.nosotros-info h3{
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
    margin-bottom: 20px;
}
.nosotros-info p{
    margin-bottom: 20px;
    line-height: 1.7;
    color: var(--dark-color);
    font-size: var(--font-size-m);
}
.mision-vision-container{
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.mv-card{
    flex: 1;
    background: var(--white-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}
.mv-card:hover{
    transform: translateY(-5px);
}
.mv-card h3{
    color: var(--secondary-color);
    margin-bottom: 15px;
    font-size: var(--font-size-xl);
}
.mv-card p{
    line-height: 1.7;
    color: var(--dark-color);
}
/*diseño p-Contacto*/
.contacto-page{
    padding: 50px 20px 100px;
    background: var(--light-pink-color);
    min-height: 100vh;
}
.contacto-container{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
}
.contacto-info{
    flex: 1;
}
.contacto-info h3{
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
    margin-bottom: 20px;
}
.contacto-info p{
    margin-bottom: 30px;
    line-height: 1.8;
    color: var(--dark-color);
}
.info-item{
    margin-bottom: 20px;
    font-size: var(--font-size-m);
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
}
.contacto-form{
    flex: 1;
    background: var(--white-color);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.contacto-form input, .contacto-form textarea{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--medium-gray-color);
    outline: none;
    font-size: var(--font-size-m);
}
.contacto-form input:focus, .contacto-form textarea:focus{
    border-color: var(--secondary-color);
}
.contacto-btn{
    padding: 15px;
    border: none;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-m);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.contacto-btn:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
/*diseño p-PQR*/
.pqr-section{
    padding: 50px 20px 100px;
    min-height: 100vh;
    background: var(--light-pink-color);
}
.pqr-form{
    max-width: 700px;
    margin: 50px auto 0;
    background: var(--white-color);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pqr-form input, select, textarea{
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--medium-gray-color);
    outline: none;
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}
.pqr-form input:focus, select:focus, textarea:focus{
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(40, 248, 21, 0.3);
}
.pqr-form textarea{
    resize: none;
}
.contador{
    text-align: right;
    color: var(--dark-color);
    font-size: var(--font-size-s);
}
.pqr-btn{
    padding: 15px;
    border: none;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-m);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.pqr-btn:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.mensaje-exito{
    text-align: center;
    color: blue;
    font-weight: bold;
    margin-top: 10px;
}
.buscador-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 50px;
}
.buscador-input{
    width: 100%;
    max-width: 500px;
    padding: 15px 25px;
    border: 2px solid var(--medium-gray-color);
    border-radius: var(--border-radius-m);
    outline: none;
    font-size: var(--font-size-m);
    background: var(--white-color);
    transition: 0.3s ease;
}
.buscador-input:focus{
    border-color: var(--secondary-color);
    box-shadow: 0 0 15px rgba(102, 191, 84, 0.3);
}
.buscador-input::placeholder{
    color: #888;
}
/*diseño Slides*/
.slider-section{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.slide{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}
.slide.active{
    opacity: 1;
    z-index: 1;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
    width: 90%;
}
.slide-content h2{
    font-size: 4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: yellow;
}
.slide-content p{
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
}







/*responsive: media queries*/
/*pc*/
@media (max-width:1200px){
    .navegacion{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu{
        display: flex;
        gap: 20px;
    }
    .hero-title{
        font-size: 90px;
        line-height: 90px;
    }
    .p-container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .p-card{
        width: calc(33.333% - 20px);
    }
    .card-beneficios{
        width: calc(25% - 20px);
    }
    .productos-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }
    .nosotros-container{
        display: flex;
        align-items: center;
        gap: 80px;
    }
    .footer-content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
/*tablet*/
@media (max-width:900px){
    .navegacion{
        padding: 15px 20px;
    }
    .nav-menu{
        gap: 10px;
    }
    .nav-link{
        padding: 8px 14px;
        font-size: 0.95rem;
    }
    .hero-title{
        font-size: 65px;
        line-height: 70px;
    }
    .p-card{
        width: calc(50% - 15px);
    }
    .card-beneficios{
        width: calc(50% - 25px);
    }
    .productos-container{
        grid-template-columns: repeat(2,1fr);
    }
    .nosotros-container{
        flex-direction: column;
        gap: 40px;
    }
    .contacto-container{
        flex-direction: column;
    }
    .footer-content{
        grid-template-columns: repeat(2,1fr);
    }
}
/*celular*/
@media (max-width:640px){
    .navegacion{
        flex-direction: column;
        gap: 20px;
    }
    .nav-menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-title{
        font-size: 45px;
        line-height: 50px;
    }
    .hero-subtitle{
        font-size: 1.1rem;
    }
    .hero-img{
        display: flex;
        justify-content: center;
    }
    .hero-img img{
        max-width: 300px;
    }
    .hero-button{
        width: 100%;
    }
    .p-card{
        width: 100%;
    }
    .card-beneficios{
        width: 100%;
    }
    .productos-container{
        grid-template-columns:1fr;
    }
    .nosotros-info{
        text-align: center;
    }
    .footer-content{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .buscador-input{
        max-width: 100%;
        font-size: 1rem;
    }

}
 